/* 
    mainColor: #85cdca,
    secondaryColor: #40b3a2,
    buttonColor:#e27d5f,
    buttonColor2: #e8a87cs;
*/

html{
    padding: 0;
    margin: 0;
    font-size: 64%;
    direction: rtl;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    box-sizing: border-box;
    background-color: #85cdca;
     color: #eee;
}
a,h1,h2,p{
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    margin: 0 auto;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.header{
    background-color: #40b3a2;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
  position: fixed;
  width: 100%;
  top: 0;
}
.header__logo{
    font-size: 3rem;
    text-align: right;
    display: inline-block;
    color: #eee;
    margin-bottom: 2rem;
}
.header__nav{
    float: left;
}

.header__nav a{
    text-decoration: none;
    display: inline-block;
    margin-top: 3rem;
    padding: 0 2rem;
    color: #eee;
}
.header__nav a:hover{
    border-bottom: 2px solid #e8a87c;
}

.main{
    margin-top: 13rem;
    font-size: 3rem;
}
.documentation h2{
    text-align: center;
    color: #eee;
}
.documentation ul{
    list-style: none;
     color: rgb(230, 230, 230);
     margin: 4rem 20rem;
}

.download {
      text-align: center;
    color: #eee;
    font-size: 4rem;
}
.download>a{
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    background-color: #e8a87c;
    padding: .5rem 2rem 1.2rem 2rem ;
    margin-top: 2rem;
    transition: all .5s ease-out;
    color: #eeeeee;
}
.download a:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
    box-shadow: 5px 3px 5px gray;
}
.download a:active{
    transform: scale(.9);
    box-shadow:none;
}


.footer{
    background-color: #40b3a2;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: .5rem;
}
.footer__copyright{
    text-align: right;
    display: inline-block;
    color: #eee;
}
.footer__about{
    float: left;
}

@media only screen and (max-width: 76.8rem) {
        .documentation ul{
     margin: 2rem;
        }
    }
    @media only screen and (max-width: 56.5rem) {
        html{
            font-size: 60%;
        }
        .container{
            width: 100%;
        }
        .documentation{
            margin-bottom: 3rem;
        }
        .documentation ol{
            margin: 0;
        }
        
        .main{
            margin-top: 17rem;
             margin-bottom: 10rem;
            font-size: 3rem;
        }
        .center{
            text-align: center;
        }
        .footer__about{
            float: none;
        }
        .header__nav{
            float: none;
            font-size: 3rem;
        }
        .header__logo{
             margin-bottom: 0;
        }
    }